# Copy this file to secrets.properties (which is git-ignored) and fill in your values.
# secrets.properties is used by the publishing-convention plugin to publish to a private Maven repository.

publishing.repo.username=<user_name>
publishing.repo.password=<your_github_pat>
